<lowers class="lowers-cine-net-pitch">
  <img src="{{ asset('images/photo-header.jpg') }}" 
    alt="Thierry ROLLAND" 
    class="img-lowers-cine-net-pitch" />
  <div class="lowers-overlay-cine-net-pitch"></div> <!-- Overlay -->
  <div class="content-lowers-cine-net-pitch">
    <h1 class="title-lowers-cine-net-pitch">
      LA <span class="cine-net-pitch-text">CINÉ NET PITCH</span> PEUT VOUS FORMER AUX MÉTIERS DE L'AUDIOVISUEL
    </h1>
    <a href="{{ path('app_net-pitch') }}">
    <button class="btn-display-cine-net-pitch">EN SAVOIR PLUS ...</button>
    </a>
  </div>
</lowers>
