<div class="overlay-pop-up-jury hidden-pop-up-jury">
  <i class="bi bi-x-circle close-pop-up-jury"></i>

  <div class="content-pop-up-jury">

    <div class="img-container-pop-up-jury">
      <img id="pop-up-jury-img" src="" alt="jury">
      <div class="overlay-img-pop-up"></div>
    </div>
    
    <div class="section-pop-up-jury">
      <div class="section-left-pop-up-jury">
        <h3 id="pop-up-jury-name"></h3>
        <span id="pop-up-jury-role"></span>
        <p id="pop-up-jury-bio"></p>
        <img id="pop-up-jury-company" src="" alt="company" class="jury-company-logo">
      </div>

      <div class="section-right-pop-up-jury">
        <div class="picture-pop-up-jury">
          <img id="pop-up-jury-picture" src="" alt="jury">
        </div>
      </div>
    </div>

  </div>
</div>
