<div class="overlay-pop-up-short-films hidden-pop-up-short-films">

    <i class="bi bi-x-circle close-pop-up-short-films"></i>

    <div class="content-pop-up-short-films">

        <div class="img-container-pop-up-short-films">
            <img id="pop-up-short-film-img" src="" alt="affiche du court-métrage">
            <div class="overlay-img-short-films-pop-up"></div>
        </div>

        <div class="section-pop-up-short-films">

            <div class="section-left-pop-up-short-films">
                <span class="duration-short-film">
                    <strong class="color-strong">DURÉE:</strong> 
                    <span id="pop-up-short-film-duration"></span>
                </span>
                <h3 class="title-short-film-pop-up" id="pop-up-short-film-title"></h3>
                <span class="genre-short-film-pop-up">
                    <strong class="color-strong">GENRE:</strong> 
                    <span id="pop-up-short-film-genre"></span>
                </span>
                <span class="production-short-film">
                    <strong class="color-strong-production">PRODUCTION:</strong> 
                    <span id="pop-up-short-film-production"></span>
                </span>

                <h4>PITCH:</h4>
                <p id="pop-up-short-film-pitch"></p>

                <h3 class="search-short-film">APPEL & BESOINS</h3>
                <p id="pop-up-director-search" class="search-director"></p>

                <h3 class="news-short-film">ACTUALITÉS</h3>
                <p id="pop-up-short-film-news"></p>
            </div>

            <div class="section-right-pop-up-short-films">
                <div class="picture-and-name-director-short-film">
                    <div class="picture-pop-up-short-films">
                        <img id="pop-up-short-film-director-img" src="" alt="photo du réalisateur">
                    </div>
                    <h3 class="name-director-short-film" id="pop-up-short-film-director-name"></h3>
                </div>

                <h3 class="bio-director-short-film">
                    BIOGRAPHIE DU <span class="color-title-bio-director">RÉALISATEUR</span>
                </h3>

                <div>
                    <p id="pop-up-short-film-director-bio"></p>
                </div>
            </div>

        </div>
    </div>

</div>
