<div class="overlay-pop-up-director hidden-pop-up-director">

  <i class="bi bi-x-circle close-pop-up-director"></i>

  <div class="content-pop-up-director">

    <div class="img-container-pop-up-director">
      <img id="pop-up-director-img" src="" alt="jury" />
      <div class="overlay-img-director-pop-up"></div>
    </div>

    <div class="section-pop-up-director">

      <div class="section-left-pop-up-director">
        <h3 id="pop-up-director-name"></h3>
        <span id="pop-up-director-role"></span>
        <p id="pop-up-director-bio"></p>
        <img id="pop-up-director-company" src="" alt="logo entreprise" />
      </div>

      <div class="section-right-pop-up-director">
        <div class="picture-pop-up-director">
          <img id="pop-up-director-picture" src="" alt="photo jury" />
        </div>
      </div>

    </div>

  </div>

</div>
