<div class="overlay-pop-up-speaker-formation hidden-pop-up-speaker-formation">

  <i class="bi bi-x-circle close-pop-up-speaker-formation"></i>

  <div class="content-pop-up-speaker-formation">

    <div class="img-container-pop-up-speaker-formation">
      <img id="pop-up-speaker-img" src="" alt="intervenant">
      <div class="overlay-img-speaker-formation-pop-up"></div>
    </div>

    <div class="section-pop-up-speaker-formation">
      <div class="section-left-pop-up-speaker-formation">
        <h3 id="pop-up-speaker-name">Nom intervenant</h3>
        <span id="pop-up-speaker-role">Rôle</span>
        <p id="pop-up-speaker-cities"></p>
        <p id="pop-up-speaker-bio">Biographie de l’intervenant...</p>
        <img id="pop-up-speaker-company" src="" alt="entreprise" class="jury-company-logo" />
      </div>

      <div class="section-right-pop-up-speaker-formation">
        <div class="picture-pop-up-speaker-formation">
          <img id="pop-up-speaker-picture" src="" alt="portrait" />
        </div>
      </div>
    </div>

  </div>
</div>
