<div class="popup-message-container hidden-popup-message" id="popup-message">
  <div class="popup-message-content">
    <p id="popup-message-text"></p>
    <button id="popup-message-close">FERMER</button>
  </div>
</div>
